.lesson-item__container {
  display: flex;
  width: 100%;
}
.lesson-item {
  font-family: Montserrat-normal;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  /* Light theme / Primary */
  color: rgba(0, 0, 0, 0.87);
  margin: 10px 0;
}
.lesson-date {
  width: 10%;
}
.lesson-name {
  width: 40%;
}
.lesson-students {
  width: 10%;
}
.lesson-trainer {
  width: 10%;
}
.lesson-progress {
  width: 10%;
}
