.title__main {
  display: flex;
  align-items: center;
}
.title-text {
  font-family: Montserrat-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.87);
}
.title__container{
  margin-bottom: 20px;
  width: 100%;
}