.menu-icon_container{
    width: 52px;
    height: 54px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background: #EDEDED;
      }
      &:focus{
        background: #E4E4E4;
      }
      &:active{
        background: #DCDCDC;
      }

}